//@font-face {
//    font-family: 'Director';
//    src: url('/fonts/Director-Regular.woff2') format('woff2'),
//        url('/fonts/Director-Regular.woff') format('woff');
//    font-weight: normal;
//    font-style: normal;
//    font-display: swap;
//}

@font-face {
  font-family: 'Times Now';
  src: url('./fonts/TimesNow-Light.woff2') format('woff2'),
    url('./fonts/TimesNow-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Times Now';
  src: url('./fonts/TimesNow-LightItalic.woff2') format('woff2'),
    url('./fonts/TimesNow-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}


* {
  box-sizing: border-box;
}

$sans: "Standard";
$serif: "Times Now";

$pink: #eb80ff;

body {
  font-family: $serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
}

#intro {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: .75em;

  p {
    width: auto;
    max-width: none;
  }

  .wrapper {
    padding: 1em;
    //    background: red;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;

    .col {
      width: 49%;
    }

    p {
      line-height: 120%;
      letter-spacing: -.15px;
      font-size: .9rem;
    }

    p.small {
      //      font-size: .7rem;
    }

  }


  @media only screen and (max-width: 600px) {
    bottom: 30px;
    padding: 0em;
  }

  @media only screen and (min-width: 1200px) {
    bottom: 20px;

    .wrapper {
      padding: 1em;
      max-width: none;
      flex-direction: column;
      justify-content: flex-start;

      .col {
        max-width: 300px;
      }

    }

  }


}

#clouds {
  position: fixed;
  top: 0;
  width: 100vw;
  overflow: hidden;
  letter-spacing: 5px;
  pointer-events: none;
  opacity: 0.6;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  transition: opacity 5s linear;
  z-index: -2;

  .cloud-wrapper {

    display: flex;
    flex-direction: row;
    width: auto;
    min-width: 300vw;
    height: 350px;
    transition: opacity 5s linear;
    animation: marquee 400s linear infinite;

    @media only screen and (max-width: 600px) {
      animation: marquee 300s infinite;
    }
  }

  .cloud {
    margin: 1em;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    //    gap: var(--gap);

    span {
      white-space: pre-wrap;
      word-break: break-word;
      display: inline-block;
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 1.5rem;
  }
}

#clouds.two {

  opacity: 0.6;
  top: 150px;

  .cloud-wrapper {
    animation: marquee 310s infinite;

    @media only screen and (max-width: 600px) {
      animation: marquee 260s infinite;
    }

  }
}

#rainbow {
  position: fixed;
  mix-blend-mode: screen;
  opacity: 0.9;
  right: 0;
  top: 0;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  pointer-events: none;

  img {
    width: 120%;
  }


  @media only screen and (max-width: 600px) {
    mix-blend-mode: normal;
    left: 0;
  }

}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#navi,
#top {
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  padding: 1rem;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;

  a {
    text-align: center;
    width: 70px;
    color: #000;
    margin: 0 .5em;
    padding: .5em;
    font-size: .8rem;
  }

  a.center {
    width: 120px;
    text-align: center;
  }

  @media only screen and (max-width: 600px) {

    padding: 1em 0;

    a {
      letter-spacing: -.25px;
    }
  }
}


#navi {
  a:first-of-type {
    text-align: left;
  }

  a:last-of-type {
    text-align: right;
  }
}


#top a {
  width: 110px;
}

#top a:last-of-type {
  text-align: right;
}


#top {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
  top: 0;
}

#navi {
  bottom: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
}

#navi:has(> a:hover) {
  //background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 10%, rgba(255,255,255,1) 100%);
}

#contact,
#index,
#footnotes {
  display: none;
}

main {
  min-height: calc(100vh - 50px);
  width: 100vw;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.p {
  margin: 0 auto;
  padding: 2.5vh 0;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  
}

hr {
  border: 0;
  height: 1px;
  display: block;
}

h1 {
  font-weight: normal;
  font-size: 6rem;
  letter-spacing: -3px;
  margin: 1rem 0;
  text-align: center;
}

#earth {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(.5px);
  font-size: 1.5rem;

  .world {
    position: absolute;
    width: 100%;
    bottom: 2em;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    letter-spacing: 8vw;
    white-space: pre-wrap;

    @media only screen and (max-width: 600px) {
      line-height: 80%;
    }
  }

  a {
    font-size: 1.5rem;
    color: #000;
    opacity: 0.6;
  }

  a[small] {
    font-size: 1.2rem;
  }

}


#windows {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  display: none;

  h1 {
    display: block;
    width: 100%;
    display: none;
  }

  .window {
    //position: absolute;
    margin: 1em 0;
    text-align: center;
    object-fit: contain;
    max-width: 50vw;

    img {
      max-width: 100%;
    }

  }

  ._desc {
    display: block;
    text-align: center;
    font-size: .9rem;
    color: rgb(0, 0, 0, 0.5);

    strong {
      font-weight: normal;
      opacity: 1;
      color: #eb80ff;
    }
  }

  .window:hover {
    ._desc {
      opacity: 0.8;
    }
  }

  a,
  a:hover {
    animation: none;
    color: #000;
  }

  @media only screen and (max-width: 600px) {
    .window {
      max-width: none;
    }
  }

  @media only screen and (max-width: 780px) {

    ._spacer {
      display: none;
    }

    .window {
      max-width: 100vw;
    }

    img {
      width: 100%;
      max-width: 100vw;
    }
  }
}


#bio {

  display: none;
  max-width: 520px;

  @media only screen and (max-width: 600px) {
    text-align: left;
  }
}

p {
  font-family: $serif;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: -.25px;
  max-width: 400px;
}

p small {
  line-height: 60%;
}

h2,
h3 {
  font-weight: normal;
}


// SECTIONS

#index {
  width: 760px;
  max-width: 95vw;
}

.columns {
  padding: .75em 0;
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: .8rem;
  align-items: center;
  align-content: center;

  h2 {
    display: block;
    align-self: baseline;
    margin: 0;
    padding: 0;
  }

  .columns-wrapper {
    display: flex;
    flex-direction: column;


    a {
      opacity: 0.9;
      display: flex;
      justify-content: flex-start;
      padding: .5em 0;

      span {
        display: inline-block;
        margin-right: 1em;
        color: #000;
      }

      span:last-of-type {
        margin-right: 0;
      }

      span.-title {
        width: 150px;
      }

      span.-topic {
        flex-grow: 2;
      }

      span.-full {
        margin-top: 1em;
        width: 100%;
      }

      span.-date {
        text-align: right;
        width: 50px;
      }

    }
  }


  @media only screen and (min-width: 600px) {
    .columns-wrapper.columns-two {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        width: 47%;
      }

      span.-title {
        width: 80%;
      }

      span.-date {
        width: 20%;
      }
    }
  }


  @media only screen and (max-width: 800px) {

    .columns-wrapper.columns-two {

      a {
        width: 100%;
      }

      span.-title {
        width: 100%;
      }

      span.-date {
        width: 50px;
      }
    }

  }

  .columns-wrapper:hover a:not(:hover) {
    opacity: 0.5;
    filter: blur(0.2px);
  }

  @media only screen and (max-width: 600px) {

    flex-direction: column;

    a {
      justify-content: space-between;

      span.-topic {
        flex-grow: none;
        width: 80%;
      }

    }

    br {
      display: none;
    }

    .columns-wrapper {
      width: 100%;
      max-width: 95vw;
    }

  }

}


a {
  opacity: 1;
  text-decoration: none;
  color: $pink;
  transition: color .8s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

a:hover {
  opacity: 1;
  animation: rainbow 3s infinite;
}

@keyframes marquee-alt {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}


@keyframes marquee {
  0% {
    transform: translateX(0);
    opacity: 0;
  }

  2% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.95;
  }

  80% {
    opacity: 0.8;
  }

  95% {
    opacity: 0;
  }

  100% {
    transform: translateX(-4500px);
  }
}


@keyframes rainbow {

  100%,
  0% {
    color: #f091b9;
  }

  12.5% {
    color: #e67d7d;
  }

  25% {
    color: #e5c87c;
  }

  37.5% {
    color: #a0d48e;
  }

  50% {
    color: #89c9c7;
  }

  75% {
    color: #78a7db;
  }

  87.5% {
    color: #aa8fe2;
  }
}


.ui-tooltip {
  position: absolute;
  display: inline-block;
  padding: 0.5em;
  color: $pink;
  z-index: 99;
  max-width: 250px;
  background: #fff;
}

.ui-helper-hidden-accessible {
  visibility: none;
  opacity: 0;
}
