@font-face {
    font-family: 'Sneak';
    src: url('Sneak-RegularItalic.woff2') format('woff2'),
        url('Sneak-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sneak';
    src: url('Sneak-Regular.woff2') format('woff2'),
        url('Sneak-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

