// FONT SIZES

$font-heading: 1.15rem;
$font-body: .8rem;
$font-details: .65rem;
$font-small: .5rem;

// COLORS

$gray-light: rgba(188, 188, 188, 0.15);
$gray-dark: rgba(70, 70, 70, 0.45);
$gray-darker: rgba(70, 70, 70, 1);
$gray: #cccccc;

$pink: #eb80ff;
$pink-lighter: rgba(235, 128, 255, 0.2);
$white: #ffffff;

// LIBRARY


.library {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 145px;

  padding: .5em;
  margin: 0 auto 1em auto;
  margin-right: 1em;
  border: 1px solid #ccc;

  .w {
    white-space: nowrap;
    text-align: center;
  }

  span[book] {
    display: inline-block;
    width: 32px;
    height: 130px;
    border: 1px solid #ccc;
    margin: -.75px;
    cursor: pointer;

    span[b] {
      font-family: "Director";
      font-size: $font-details;
      letter-spacing: -1px;
      color: $gray-dark;
      margin: .5em .25em;
      display: inline-block;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      text-align: left;

      height: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  span[book]:hover {
    background: rgba(204, 204, 204, 0.14);
  }

}




#index {

  // FILTER
  display: flex;
  flex-direction: column;

  .filter-wrapper {

    margin: 0 0 1em 0;
    text-align: center;

    a {
      font-size: 1.25rem;
      font-family: "Times Now";
      letter-spacing: -.5px;
      color: $gray-darker;

      cursor: pointer;
    }

  }


  // MAIN

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    max-width: 1400px;
  }

  //  .wrapper:hover > a:not(:hover){
  //    opacity: 0.9;
  //  }

  .row {
    padding: 0;
    margin: .5em 0;
    width: 100%;
    font-family: 'Director';
    font-size: $font-body;
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
  }
  
  a[loved] span[name]::before{
    content: " ♡ ";
    color: $pink;
  }

  a {
    text-decoration: none;
  }
  
  a[hide]{
    opacity: 0.3;
  }

  a:hover .row span[name] {
    color: $pink;
  }

  
  span[name] {
    width: 400px;
    line-height: 120%;
    display: inline-block;
    letter-spacing: -.4px;
//    font-family: "Times Now";
    font-size: .8rem;
    color: $gray-darker;
    vertical-align: top;
  }

  span[desc] {
    display: none;
  }

  span[keywords] {
    font-size: $font-details;
    letter-spacing: -.5px;
    width: 140px;
    display: none;
  }

  span[institution] {
    display: inline-block;
    width: 140px;
    font-size: $font-details;
  }

  span[type] {
    display: inline-block;
    width: 80px;
    font-size: $font-details;
//    font-size: .8rem;
    text-transform: capitalize;
  }

  span[by] {
    display: inline-block;
    width: 140px;
//    text-transform: uppercase;
    font-size: $font-details;
  }

  span[year] {
    font-size: $font-details;
    float: right;
    text-transform: uppercase;
  }
  
  div[header]{
    margin-bottom: .25em;
    cursor: s-resize;
    span{
    color: $gray-darker;
      text-transform: uppercase;
      font-size: .7rem;
    }
    
  }

  @media only screen and (max-width: 800px) {
    span[keywords] {
      display: none;
    }
  }

  @media only screen and (max-width: 600px) {

    .row {
      display: flex;
      flex-direction: column;
    }

    span {
      padding: .15em 0;
    }

    span[desc] {
//      display: block;
      font-family: "Times Now";
    }

    span[name] {
      font-size: .9rem;
    }

    span[name],
    span[keywords],
    span[type], span[institution] {
      width: auto;
      max-width: 90%;
    }

  }
}
