@charset "UTF-8";
.library {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 145px;
  padding: 0.5em;
  margin: 0 auto 1em auto;
  margin-right: 1em;
  border: 1px solid #ccc;
}
.library .w {
  white-space: nowrap;
  text-align: center;
}
.library span[book] {
  display: inline-block;
  width: 32px;
  height: 130px;
  border: 1px solid #ccc;
  margin: -0.75px;
  cursor: pointer;
}
.library span[book] span[b] {
  font-family: "Director";
  font-size: 0.65rem;
  letter-spacing: -1px;
  color: rgba(70, 70, 70, 0.45);
  margin: 0.5em 0.25em;
  display: inline-block;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: left;
  height: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.library span[book]:hover {
  background: rgba(204, 204, 204, 0.14);
}

#caption {
  z-index: 9;
  pointer-events: auto;
}
#caption .filter-wrapper {
  z-index: 99;
  margin: 0;
  margin-bottom: -0.5rem;
  text-align: center;
}
#caption .filter-wrapper a {
  font-size: 0.65rem;
  font-family: "Director";
  letter-spacing: -0.5px;
  color: #464646;
  cursor: pointer;
}

#emote {
  position: fixed;
  left: 0;
  top: 50%;
  z-index: -9;
  width: 100%;
  text-align: center;
  height: 300px;
  max-height: 40%;
  font-size: 4rem;
  color: #eb80ff;
  text-shadow: 0 0 15px #eb80ff;
  opacity: 0.2;
  pointer-events: none;
}

#img {
  position: fixed;
  z-index: -9;
  width: 420px;
  height: 300px;
  max-width: 80%;
  max-height: 40%;
  padding: 1em;
  background-image: url(../assets/transparency.png);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  display: none;
}

#img[custom] {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#index {
  display: flex;
  flex-direction: column;
}
#index .wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
}
#index .row {
  padding: 0;
  margin: 0.5em 0;
  width: 100%;
  font-family: "Director";
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
  line-height: 120%;
  display: flex;
  justify-content: space-between;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#index a[soon] {
  opacity: 0.5;
}
#index a[loved] span[name]::after {
  content: " ♡ ";
  color: #eb80ff;
}
#index a {
  text-decoration: none;
  cursor: default;
}
#index a[href] {
  cursor: pointer;
}
#index a[hide] {
  opacity: 0.3;
}
#index a:hover .row span {
  text-shadow: 0 0 10px #eb80ff;
}
#index span[name] {
  width: 320px;
  line-height: 120%;
  display: inline-block;
  letter-spacing: -0.4px;
  color: #464646;
  vertical-align: top;
}
#index span[desc] {
  display: none;
}
#index span[keywords] {
  letter-spacing: -0.5px;
  width: 140px;
  display: none;
}
#index span[institution] {
  display: inline-block;
  width: 170px;
  padding: 0 0.25rem;
}
#index span[location] {
  display: inline-block;
  width: 130px;
  padding: 0 0.25rem;
}
#index span[type] {
  display: inline-block;
  width: 70px;
  text-transform: capitalize;
  padding: 0 0.5rem;
}
#index span[by] {
  display: inline-block;
  width: 140px;
}
#index span[year] {
  float: right;
  width: 50px;
  text-transform: capitalize;
}
#index span[thankyou] {
  display: none;
  width: 180px;
  text-transform: capitalize;
}
#index div[header] {
  margin: 0;
  cursor: s-resize;
}
#index div[header] span {
  color: #464646;
}
#index div[header] span::after {
  content: "   ";
  display: inline-block;
}
#index div[header] span:hover::after {
  content: " ↓";
}
@media only screen and (min-width: 1300px) {
  #index span[thankyou] {
    display: inline-block;
  }
}
@media only screen and (max-width: 840px) {
  #index span[keywords], #index span[year], #index span[location] {
    display: none;
  }
}
@media only screen and (max-width: 670px) {
  #index .row {
    display: flex;
  }
  #index .row span {
    padding: 0.15em 0;
    display: none;
  }
  #index span[type] {
    font-size: 0.6rem;
  }
  #index span[name] {
    width: calc(100% - 100px);
  }
  #index span[type], #index span[name] {
    display: block;
  }
}

#piece {
  display: block;
  font-family: "Times Now";
  width: 100%;
}
#piece h1 {
  font-family: "Times Now";
  text-align: left;
  text-transform: capitalize;
  font-size: 2rem;
  margin: 0.25rem 0;
}
#piece a.big {
  color: #eb80ff;
  text-shadow: 0 0 15px #eb80ff;
  font-size: 1.5rem;
}
#piece .details {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  color: #464646;
}
#piece .details span {
  padding: 0.25rem 0;
  width: 100%;
  font-family: "Director";
  font-size: 0.8rem;
}
#piece .details span[type]::before {
  content: "Type: ";
}
#piece .details span[location]::before {
  content: "Location: ";
}

/*# sourceMappingURL=library.css.map */
