// FONT SIZES

$font-heading: 1.15rem;
$font-body: .8rem;
$font-details: .65rem;
$font-small: .5rem;

// COLORS

$gray-light: rgba(188, 188, 188, 0.15);
$gray-dark: rgba(70, 70, 70, 0.45);
$gray-darker: rgba(70, 70, 70, 1);
$gray: #cccccc;

$pink: #eb80ff;
$pink-lighter: rgba(235, 128, 255, 0.2);
$white: #ffffff;

// LIBRARY


.library {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 145px;

  padding: .5em;
  margin: 0 auto 1em auto;
  margin-right: 1em;
  border: 1px solid #ccc;

  .w {
    white-space: nowrap;
    text-align: center;
  }

  span[book] {
    display: inline-block;
    width: 32px;
    height: 130px;
    border: 1px solid #ccc;
    margin: -.75px;
    cursor: pointer;

    span[b] {
      font-family: "Director";
      font-size: $font-details;
      letter-spacing: -1px;
      color: $gray-dark;
      margin: .5em .25em;
      display: inline-block;
      writing-mode: vertical-rl;
      text-orientation: mixed;

      text-align: left;

      height: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  span[book]:hover {
    background: rgba(204, 204, 204, 0.14);
  }

}


#caption{
  z-index: 9;
  pointer-events: auto;
  
  .filter-wrapper {
z-index: 99;
    margin: 0;
    margin-bottom: -.5rem;
    text-align: center;

    a {
      font-size: $font-details;
      font-family: "Director";
      letter-spacing: -.5px;
      color: $gray-darker;

      cursor: pointer;
    }

  }
}

#img{
  position: fixed;
  z-index: -9;
  width: 420px;
  height: 300px;
  max-width: 80%;
  max-height: 40%;
  padding: 1em;
  background-image: url(../assets/transparency.png);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  display: none;
  
}

#img[custom]{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

#index {

  // FILTER
  display: flex;
  flex-direction: column;


  // MAIN

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    max-width: 1400px;
  }

  //  .wrapper:hover > a:not(:hover){
  //    opacity: 0.9;
  //  }

  .row {
    padding: 0;
    margin: .5em 0;
    width: 100%;
    font-family: 'Director';
    margin-bottom: .5rem;
    font-size: .6rem;
    line-height: 120%;
//    letter-spacing: -.5px;
    display: flex;
    justify-content: space-between;
  }
  
  a[soon]{
    opacity: 0.5;
  }
  
  a[loved] span[name]::before{
    content: " ♡ ";
    color: $pink;
  }

  a {
    text-decoration: none;
    cursor: auto;
  }
  
  a[href]{
    cursor: pointer;
  }
  
  a[hide]{
    opacity: 0.3;
  }

  a:hover .row span[name] {
    color: $pink;
  }

  
  span[name] {
    width: 320px;
    line-height: 120%;
    display: inline-block;
    letter-spacing: -.4px;
//    font-family: "Times Now";
//    font-size: .8rem;
    color: $gray-darker;
    vertical-align: top;
  }

  span[desc] {
    display: none;
  }

  span[keywords] {
    letter-spacing: -.5px;
    width: 140px;
    display: none;
  }

  span[institution] {
    display: inline-block;
    width: 160px;
    padding: 0 .5rem;
  }

  span[location] {
    display: inline-block;
    width: 130px;
    padding: 0 .25rem;
  }

  span[type] {
    display: inline-block;
    width: 70px;
    text-transform: capitalize;
    padding: 0 .5rem;
  }

  span[by] {
    display: inline-block;
    width: 140px;
  }

  span[year] {
    float: right;
    width: 50px;
    text-transform: capitalize;
  }
  
  div[header]{
    margin: 0;
    cursor: s-resize;
    span{
    color: $gray-darker;
    }
    
    span::after{
      content: " \00a0\00a0";
      display: inline-block;
    }
    
    span:hover::after{
      content: " ↓";
    }
    
  }

  @media only screen and (max-width: 840px) {
    span[keywords], span[year], span[location] {
      display: none;
    }
  }

  @media only screen and (max-width: 670px) {

    .row {
      display: flex;
//      flex-direction: column;
      

    span {
      padding: .15em 0;
      display: none;
    }

    }
    
    span[type]{
      font-size: .6rem;
    }

    span[name] {
//      font-size: .9rem;
      width: calc(100% - 100px);
    }

    
    span[type], span[name]{
      display: block;
    }

  }
}
