// FONT SIZES

$font-heading: 1.15rem;
$font-body: .8rem;
$font-details: .65rem;
$font-small: .5rem;

// COLORS

$gray-light: rgba(188, 188, 188, 0.15);
$gray-dark: rgba(70, 70, 70, 0.45);
$gray-darker: rgba(70, 70, 70, 1);
$gray: #cccccc;

$pink: #eb80ff;
$pink-lighter: rgba(235, 128, 255, 0.2);
$white: #ffffff;

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}



h1 {
  font-family: 'Director';
  font-weight: normal;
  text-transform: uppercase;
  font-size: $font-heading;
  margin: .5em auto;
  text-align: center;

  color: $gray-darker;
}

h2 {
  font-family: "Times Now";
  color: $gray-darker;
  font-size: $font-heading;
}

h3 {
  font-family: 'Director';
  font-weight: normal;
  text-transform: uppercase;
  font-size: $font-small;
  margin: .5em auto;
  text-align: center;

  color: $gray-dark;
}

hr {
  background: $gray;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 5vh 0;
}

hr[large] {
  margin: 10vh 0;
}

hr[hide] {
  background: 0;
}

p,
blockquote {
  font-family: "Times Now";
  color: $gray-darker;
  font-size: $font-body;
  line-height: 120%;
  width: 450px;
  max-width: 90%;
  margin: 1em auto;
}

a {
  text-decoration: none;
  color: $gray-dark;
}

blockquote {}

main {
  box-sizing: border-box;
  width: calc(100% - 2em);
  margin: 1em;
  padding-top: 2em;
  //  background: rgba(255, 255, 0, 0.13);
}

section.block {
  box-sizing: border-box;
  padding: 0;
}

section .wrapper {
  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// GENERAL

.list {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    max-width: 1100px;
  }

  //  .wrapper:hover > a:not(:hover){
  //    opacity: 0.9;
  //  }

  .row {
    padding: 0;
    margin: .5em 0;
    width: 100%;
    font-family: 'Director';
    font-size: $font-body;
    margin-bottom: 1em;
    border-bottom: 1px solid $gray;

    display: flex;
    justify-content: space-between;
  }

  a {
    text-decoration: none;
    color: $gray-dark;
    cursor: pointer;
  }

  a:hover .row span[name] {
    color: $pink;
  }

  span[name] {
    width: 300px;
    display: inline-block;
    font-family: "Times Now";
    font-size: 1rem;
    color: $gray-darker;
    vertical-align: top;
  }

  span[task] {
    width: 300px;
    display: inline-block;
    font-family: "Director";
    font-size: $font-body;
    color: $gray-dark;
    letter-spacing: -.5px;
    vertical-align: top;
  }

  span[desc] {
    display: none;
  }

  span[keywords] {
    font-size: $font-details;
    letter-spacing: -.5px;
    text-transform: uppercase;
    width: 140px;
  }

  span[type] {
    display: inline-block;
    width: 80px;
    text-transform: uppercase;
    font-size: $font-details;
  }

  span[by] {
    display: inline-block;
    width: 140px;
    text-transform: uppercase;
    font-size: $font-details;
  }


  span[year] {
    font-size: $font-details;
    float: right;
  }
}


// CAPTIONS


#captions {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
//  background: red;
  text-align: center;
  width: 80%;
  max-width: 600px;
  line-height: 90%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
  .w{
  }
  
}

#caption-wrapper {
//  background: yellow;
  height: auto;
  display: inline;
  letter-spacing: .5px;
  font-family: "Director";
  font-size: $font-details;
  text-transform: uppercase;
  color: $gray-darker;
  
  text-shadow:
    -1px -1px 0 aliceblue,
     0   -1px 0 aliceblue,
     1px -1px 0 aliceblue,
     1px  0   0 aliceblue,
     1px  1px 0 aliceblue,
     0    1px 0 aliceblue,
    -1px  1px 0 aliceblue,
    -1px  0   0 aliceblue;
}

// BARS


#caption {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 24px;
  font-family: "Times Now";
  padding: 1.5em 1em;
  box-sizing: border-box;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
  z-index: 9;


  .wrapper {
    flex-direction: row;
  }

  a {
    cursor: pointer;
    color: $gray-darker;
  }

  p {
    padding: .5em;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}

#navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 32px;
  font-family: "Times Now";
  padding: 1.5em 1em;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 100%);
  z-index: 9;

  color: $gray-darker;
  font-size: $font-body;

  a {
    color: $gray-darker;
  }

  a[title] {
    position: absolute;
    //    background: red;
    width: 140px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-family: "Director";
    text-transform: uppercase;
    font-size: $font-details;
  }


  .wrapper {
    flex-direction: row;
  }

  // extra
  span[weather] {
    display: block;
  }

  .-left {
    min-width: 150px;
    width: 20%;
  }

  .colors {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);

    a {
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 1px solid #ccc;
    }
  }


  a.link {
    cursor: pointer;
    margin: 0 -4px;
  }

  a.link span::before {
    content: "(";
    opacity: 0;
    color: $gray;
  }

  a.link span::after {
    content: ")";
    opacity: 0;
    color: $gray;
  }

  a:hover span::after,
  a:hover span::before {
    opacity: 1;
  }

  a:hover span[hidden] {
    display: inline;
  }

  a:hover span[location] {
    display: none;
  }

}


#heading,
.reg {

  p {
    text-align: center;
  }

  @media only screen and (max-width: 600px) {
    p {
      //    text-align: left;
      //    margin-left: 0;
    }
  }

}





#location {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;

  display: flex;
  justify-content: center;
  display: none;
}


// ROOM
#map {

  box-sizing: border-box;
  //  border: 1px solid #ccc;
  //  background: rgba(255, 255, 0, 0.13);

  font-family: "Director";
  text-align: center;



  .institute-index {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    padding: 2em 0;

    .w {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: start;
      margin: 0 auto;
      height: 80px;
    }

    a {
      width: 160px;
      max-width: 50%;
      padding: .15em 1em;
      text-align: left;
      font-family: "Times Now";
      font-size: 1rem;
      cursor: pointer;
      color: $gray-darker;
    }

    a span.number::before {
      content: "( ";
      opacity: 0;
      color: $gray;
    }

    a  span.number::after {
      content: " )";
      opacity: 0;
      color: $gray;
    }

    a:hover  span.number::after,
    a:hover  span.number::before {
      opacity: 1;
    }

    span.number {
      font-family: "Director";
      font-size: .4rem;
      padding-right: .5em;
      color: rgba(70, 70, 70, 0.47);
      letter-spacing: -1.5px;
      transform: translateY(-2.5px);
      display: inline-block;
    }
    
    span[title]{
      margin-left: 0;
    }

  }

  .institute-map {
    padding: 1em 0;
    margin: 0 auto;
    width: 350px;

    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;

    @media only screen and (max-width: 600px) {
      max-width: 100vw;
      transform: scale(0.9);
      margin-left: 0;
    }
  }

  h1 {
    width: 100%;
  }

  .spacer {
    display: inline;
  }

  .break {
    flex-basis: 100%;
    width: 0;
  }

  .room {
    min-height: 40px;
    margin-left: -1px;
    margin-bottom: -1px;
    border: 1px solid $gray;
    background-position: top left;

    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;
  }

  // special tiles

  //  .room[name='garden']{
  //    background-image: url(../assets/tile-garden.png);
  //    
  //  }

  // etc

  .room:hover {
    border: 1px solid $gray-dark;
    background-image: url(../assets/dot.png);
    background-color: rgba(204, 204, 204, 0.21);
    cursor: pointer;
    color: $gray-darker;

    span[title] {
      display: none;
    }

    span[desc] {
      display: block;
    }
  }


  .room {

    .room-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    span {
      margin: 0 auto;
    }

    span[title] {
      text-transform: uppercase;
      font-size: $font-details;
      text-align: center;
      letter-spacing: -.5px;
      padding: .5em;
      color: $gray-darker;
      max-width: 95%;
      margin: 0 auto;
    }

    span[desc] {
      display: none;
      width: 100%;
      font-family: "Times Now";
      font-size: $font-details;
      padding: .5em;
      max-width: 80%;
    }

  }

  .room[active] {
    background-color: rgba(204, 204, 204, 0.21);
    z-index: 1;
    background-image: url(../assets/dot.png);

  }

}


#map.popup {}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: $white;

  display: none;

  .wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

}


#map.popup-small {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 370px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  //  background: $white;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);


  display: none;

  .wrapper {
    margin-top: 100px;
    //    top: 50%;
    //    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .wrapper-map {
    margin-top: -2em;
  }

  .institute-map {
    transform: scale(0.5);
    height: 120px;
    padding: 0;

    @media only screen and (max-width: 600px) {
      transform: scale(0.5) !important;
    }
  }

  .institute-index {
    max-width: 250px;
    width: 95% !important;

    .w {
      width: 100%;
      height: 120px;
    }

    .w a {
      padding: .25em .1em;
      margin: 0 !important;
      max-width: none;
      width: 125px;
      display: inline-block;
      vertical-align: top;
    }

  }

}
