* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: "Director";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0 auto;
  text-align: center;
  color: #555555;
}

main {
  padding: 1em;
}

section.block {
  padding: 1em 0;
}

section .wrapper {
  width: 100%;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
}

#index .filter-wrapper {
  margin: 0 0 1em 0;
}
#index .filter-wrapper a {
  font-size: 1.25rem;
  font-family: "Times Now";
  letter-spacing: -0.5px;
  color: #464646;
}
#index .wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
}
#index .row {
  padding: 0;
  margin: 0.5em 0;
  width: 100%;
  font-family: "Director";
  font-size: 0.8rem;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}
#index a {
  text-decoration: none;
  color: rgba(70, 70, 70, 0.45);
}
#index a:hover .row span[name] {
  color: #eb80ff;
}
#index span[name] {
  width: 300px;
  display: inline-block;
  font-family: "Times Now";
  font-size: 1.1rem;
  color: #464646;
  vertical-align: top;
}
#index span[desc] {
  display: none;
}
#index span[keywords] {
  font-size: 0.7rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  width: 140px;
}
#index span[type] {
  display: inline-block;
  width: 80px;
  text-transform: uppercase;
  font-size: 0.7rem;
}
#index span[year] {
  font-size: 0.7rem;
  float: right;
}
@media only screen and (max-width: 600px) {
  #index .row {
    display: flex;
    flex-direction: column;
  }
  #index span {
    padding: 0.15em 0;
  }
  #index span[desc] {
    display: block;
    font-family: "Times Now";
  }
  #index span[name] {
    font-size: 1.1rem;
  }
  #index span[name], #index span[keywords], #index span[type] {
    width: auto;
    max-width: 90%;
  }
}

#location {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
}

#institute {
  border: 1px solid #ccc;
  font-family: "Director";
  text-align: center;
}
#institute .institute-index {
  padding: 3em 0 2em 0;
}
#institute .institute-index .wrapper {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
#institute .institute-index a {
  width: 170px;
  max-width: 48%;
  padding: 0.15em 0.5em;
  text-align: left;
  font-family: "Times Now";
  font-size: 1rem;
  cursor: pointer;
}
#institute .institute-index span.number {
  font-family: "Director";
  font-size: 0.6rem;
  padding-right: 0.5em;
  color: rgba(70, 70, 70, 0.47);
  letter-spacing: -0.75px;
  transform: translateY(-2.5px);
  display: inline-block;
}
#institute .institute-map {
  margin: 0 auto;
  width: 400px;
  max-width: 99vw;
  outline: 1px solid red;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  #institute .institute-map {
    transform: scale(0.8);
  }
}
#institute h1 {
  width: 100%;
}
#institute .spacer {
  display: inline;
}
#institute .break {
  flex-basis: 100%;
  width: 0;
}
#institute .room {
  min-height: 50px;
  margin-left: -1px;
  margin-bottom: -1px;
  border: 1px solid #cccccc;
  background-position: top left;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#institute .room:hover {
  border: 1px solid rgba(70, 70, 70, 0.45);
  background-image: url(../assets/dot.png);
  background-color: rgba(188, 188, 188, 0.15);
  cursor: pointer;
}
#institute .room:hover span[title] {
  display: none;
}
#institute .room:hover span[desc] {
  display: block;
}
#institute .room .room-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#institute .room span {
  margin: 0 auto;
}
#institute .room span[title] {
  text-transform: uppercase;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 0.5em;
  color: #464646;
}
#institute .room span[desc] {
  display: none;
  width: 100%;
  font-family: "Times Now";
  font-size: 0.7rem;
  padding: 0.5em;
  max-width: 80%;
}
#institute .room[active] {
  background-color: rgba(188, 188, 188, 0.15);
  z-index: 1;
  background-image: url(../assets/dot.png);
}

/*# sourceMappingURL=main.css.map */
