body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: "Director";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.15rem;
  margin: 0.5em auto;
  text-align: center;
  color: #464646;
}

h2 {
  font-family: "Times Now";
  color: #464646;
  font-size: 1.15rem;
}

h3 {
  font-family: "Director";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.5rem;
  margin: 0.5em auto;
  text-align: center;
  color: rgba(70, 70, 70, 0.45);
}

p, blockquote {
  font-family: "Times Now";
  color: #464646;
  font-size: 0.8rem;
  line-height: 120%;
  width: 450px;
  max-width: 90%;
  margin: 1em auto;
}

a {
  text-decoration: none;
  color: #eb80ff;
}

main {
  box-sizing: border-box;
  width: calc(100% - 2em);
  margin: 1em;
  padding-top: 2em;
}

section.block {
  box-sizing: border-box;
  padding: 0;
}

section .wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 32px;
  font-family: "Times Now";
  padding: 1em;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9178824972) 28%, rgba(255, 255, 255, 0) 100%);
  z-index: 9;
}
#navi .wrapper {
  flex-direction: row;
}
#navi .colors {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
#navi .colors a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
}
#navi a {
  text-decoration: none;
}
#navi a.link {
  cursor: pointer;
  margin: 0 -3px;
  color: #464646;
}
#navi a.link span::before {
  content: "(";
  opacity: 0;
  color: #cccccc;
}
#navi a.link span::after {
  content: ")";
  opacity: 0;
  color: #cccccc;
}
#navi a:hover span::after, #navi a:hover span::before {
  opacity: 1;
}
#navi a:hover span[hidden] {
  display: block;
}
#navi a:hover span[location] {
  display: none;
}

#heading p, .reg p {
  text-align: center;
}
#index .filter-wrapper {
  margin: 0 0 1em 0;
  text-align: center;
}
#index .filter-wrapper a {
  font-size: 1.25rem;
  font-family: "Times Now";
  letter-spacing: -0.5px;
  color: #464646;
  cursor: pointer;
}
#index .wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  max-width: 1100px;
}
#index .row {
  padding: 0;
  margin: 0.5em 0;
  width: 100%;
  font-family: "Director";
  font-size: 0.8rem;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
}
#index a {
  text-decoration: none;
  color: rgba(70, 70, 70, 0.45);
}
#index a:hover .row span[name] {
  color: #eb80ff;
}
#index span[name] {
  width: 300px;
  display: inline-block;
  font-family: "Times Now";
  font-size: 1.1rem;
  color: #464646;
  vertical-align: top;
}
#index span[desc] {
  display: none;
}
#index span[keywords] {
  font-size: 0.65rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  width: 140px;
}
#index span[type] {
  display: inline-block;
  width: 80px;
  text-transform: uppercase;
  font-size: 0.65rem;
}
#index span[by] {
  display: inline-block;
  width: 140px;
  text-transform: uppercase;
  font-size: 0.65rem;
}
#index span[year] {
  font-size: 0.65rem;
  float: right;
}
@media only screen and (max-width: 600px) {
  #index .row {
    display: flex;
    flex-direction: column;
  }
  #index span {
    padding: 0.15em 0;
  }
  #index span[desc] {
    display: block;
    font-family: "Times Now";
  }
  #index span[name] {
    font-size: 1.1rem;
  }
  #index span[name], #index span[keywords], #index span[type] {
    width: auto;
    max-width: 90%;
  }
}

#location {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  display: none;
}

#map {
  box-sizing: border-box;
  font-family: "Director";
  text-align: center;
}
#map .institute-index {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}
#map .institute-index .w {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  margin: 0 auto;
  height: 80px;
}
#map .institute-index a {
  width: 160px;
  max-width: 50%;
  padding: 0.15em 1em;
  text-align: left;
  font-family: "Times Now";
  font-size: 1rem;
  cursor: pointer;
  color: #464646;
}
#map .institute-index a span::before {
  content: "( ";
  opacity: 0;
  color: #cccccc;
}
#map .institute-index a span::after {
  content: " )";
  opacity: 0;
  color: #cccccc;
}
#map .institute-index a:hover span::after, #map .institute-index a:hover span::before {
  opacity: 1;
}
#map .institute-index span.number {
  font-family: "Director";
  font-size: 0.4rem;
  padding-right: 0.5em;
  color: rgba(70, 70, 70, 0.47);
  letter-spacing: -1.5px;
  transform: translateY(-2.5px);
  display: inline-block;
}
#map .institute-map {
  padding: 1em 0;
  margin: 0 auto;
  width: 350px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  #map .institute-map {
    max-width: 100vw;
    transform: scale(0.9);
    margin-left: 0;
  }
}
#map h1 {
  width: 100%;
}
#map .spacer {
  display: inline;
}
#map .break {
  flex-basis: 100%;
  width: 0;
}
#map .room {
  min-height: 40px;
  margin-left: -1px;
  margin-bottom: -1px;
  border: 1px solid #cccccc;
  background-position: top left;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#map .room:hover {
  border: 1px solid rgba(70, 70, 70, 0.45);
  background-image: url(../assets/dot.png);
  background-color: rgba(188, 188, 188, 0.15);
  cursor: pointer;
}
#map .room:hover span[title] {
  display: none;
}
#map .room:hover span[desc] {
  display: block;
}
#map .room .room-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#map .room span {
  margin: 0 auto;
}
#map .room span[title] {
  text-transform: uppercase;
  font-size: 0.65rem;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 0.5em;
  color: #464646;
  max-width: 95%;
  margin: 0 auto;
}
#map .room span[desc] {
  display: none;
  width: 100%;
  font-family: "Times Now";
  font-size: 0.65rem;
  padding: 0.5em;
  max-width: 80%;
}
#map .room[active] {
  background-color: rgba(188, 188, 188, 0.15);
  z-index: 1;
  background-image: url(../assets/dot.png);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #ffffff;
  display: none;
}
.popup .wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
