* {
  box-sizing: border-box;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


h1 {
  font-family: 'Director';
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 0 auto;
  text-align: center;

  color: #555555;
}


$gray-light: rgba(188, 188, 188, 0.15);
$gray-dark: rgba(70, 70, 70, 0.45);
$gray-darker: rgba(70, 70, 70, 1);
$gray: #cccccc;

main {
  padding: 1em;

}

section.block {
  padding: 1em 0;
}

section .wrapper {
  width: 100%;
  padding: 0 1em;

  display: flex;
  justify-content: space-between;
}


#index {
  border: 1px solid $gray;

  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .row {
    padding: 0;
    margin: .5em 0;
    width: 100%;
    font-family: 'Director';
    font-size: .8rem;
    margin-bottom: 1em;
  }

  a {
    text-decoration: none;
    color: $gray-dark;
  }

  .row span[type] {
    display: inline-block;
    width: 80px;
    text-transform: uppercase;
    font-size: .7rem;
  }

  .row span[name] {
    width: 280px;
    display: inline-block;
    font-family: "Times Now";
    font-size: 1.1rem;
    color: $gray-darker;
    vertical-align: top;
  }

  .row span[desc] {
    display: none;
  }

  .row span[keywords] {
    font-size: .7rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    padding-left: 1em;
  }

  .row span[year] {
    font-size: .7rem;
    float: right;
  }
}

#location {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;

  display: flex;
  justify-content: center;
}

// ROOM
#institute {

  border: 1px solid #ccc;

  font-family: "Director";

  text-align: center;

  .institute-index {

    padding: 3em 0 2em 0;

    .wrapper {
      max-width: 80%;
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto;
    }

    a {
      width: 170px;
      max-width: 48%;
      padding: .15em .5em;
      text-align: left;
      font-family: "Times Now";
      font-size: 1rem;
      cursor: pointer;
    }

    span.number {
      font-family: "Director";
      font-size: .6rem;
      padding-right: .5em;
      color: rgba(70, 70, 70, 0.47);
      letter-spacing: -.75px;
      transform: translateY(-2.5px);
      display: inline-block;
    }

  }

  .institute-map {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }

  h1 {
    width: 100%;
  }

  .spacer {
    display: inline;
  }

  .break {
    flex-basis: 100%;
    width: 0;
  }

  .room {
    min-height: 50px;
    margin-left: -1px;
    margin-bottom: -1px;
    border: 1px solid $gray;
    background-position: top left;

    display: flex;

    justify-content: center;
    align-content: center;
    align-items: center;
  }

  // special tiles

  //  .room[name='garden']{
  //    background-image: url(../assets/tile-garden.png);
  //    
  //  }

  // etc

  .room:hover {
    border: $gray-dark;
    background-image: url(../assets/dot.png);
    background-color: $gray-light;
    cursor: pointer;

    span[title] {
      display: none;
    }

    span[desc] {
      display: block;
    }
  }


  .room {

    .room-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    span {
      margin: 0 auto;
    }

    span[title] {
      text-transform: uppercase;
      font-size: .8rem;
      text-align: center;
      letter-spacing: -.5px;
      padding: .5em;
    }

    span[desc] {
      display: none;
      width: 100%;
      font-family: "Times Now";
      font-size: .8rem;
      padding: .5em;
      max-width: 80%;
    }

  }

  .room[active] {
    background-color: $gray-light;
    z-index: 1;
    background-image: url(../assets/dot.png);

  }

}
