body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: "Director";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.15rem;
  margin: 0.5em auto;
  text-align: center;
  color: #464646;
}

h2 {
  font-family: "Times Now";
  color: #464646;
  font-size: 1.15rem;
}

h3 {
  font-family: "Director";
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.5rem;
  margin: 0.5em auto;
  text-align: center;
  color: rgba(70, 70, 70, 0.45);
}

hr {
  background: #cccccc;
  width: 100%;
  height: 1px;
  border: 0;
  margin: 5vh 0;
}

hr[large] {
  margin: 10vh 0;
}

hr[hide] {
  background: 0;
}

p,
blockquote {
  font-family: "Times Now";
  color: #464646;
  font-size: 0.8rem;
  line-height: 120%;
  width: 450px;
  max-width: 90%;
  margin: 1em auto;
}

a {
  text-decoration: none;
  color: rgba(70, 70, 70, 0.45);
}

main {
  box-sizing: border-box;
  width: calc(100% - 2em);
  margin: 1em;
  padding-top: 2em;
}

section.block {
  box-sizing: border-box;
  padding: 0;
}

section .wrapper {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list .wrapper {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  max-width: 1100px;
}
.list .row {
  padding: 0;
  margin: 0.5em 0;
  width: 100%;
  font-family: "Director";
  font-size: 0.8rem;
  margin-bottom: 1em;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
}
.list a {
  text-decoration: none;
  color: rgba(70, 70, 70, 0.45);
  cursor: pointer;
}
.list a:hover .row span[name] {
  color: #eb80ff;
}
.list span[name] {
  width: 300px;
  display: inline-block;
  font-family: "Times Now";
  font-size: 1rem;
  color: #464646;
  vertical-align: top;
}
.list span[task] {
  width: 300px;
  display: inline-block;
  font-family: "Director";
  font-size: 0.8rem;
  color: rgba(70, 70, 70, 0.45);
  letter-spacing: -0.5px;
  vertical-align: top;
}
.list span[desc] {
  display: none;
}
.list span[keywords] {
  font-size: 0.65rem;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  width: 140px;
}
.list span[type] {
  display: inline-block;
  width: 80px;
  text-transform: uppercase;
  font-size: 0.65rem;
}
.list span[by] {
  display: inline-block;
  width: 140px;
  text-transform: uppercase;
  font-size: 0.65rem;
}
.list span[year] {
  font-size: 0.65rem;
  float: right;
}

#captions {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  height: 40px;
  text-align: center;
  width: 80%;
  max-width: 600px;
  line-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#caption-wrapper {
  height: auto;
  display: inline;
  letter-spacing: 0.5px;
  font-family: "Director";
  font-size: 0.65rem;
  text-transform: uppercase;
  color: #464646;
  text-shadow: -1px -1px 0 aliceblue, 0 -1px 0 aliceblue, 1px -1px 0 aliceblue, 1px 0 0 aliceblue, 1px 1px 0 aliceblue, 0 1px 0 aliceblue, -1px 1px 0 aliceblue, -1px 0 0 aliceblue;
}

#caption {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 24px;
  font-family: "Times Now";
  padding: 1.5em 1em;
  box-sizing: border-box;
  background: linear-gradient(0deg, white 25%, rgba(255, 255, 255, 0) 100%);
  z-index: 9;
}
#caption .wrapper {
  flex-direction: row;
}
#caption a {
  cursor: pointer;
  color: #464646;
}
#caption p {
  padding: 0.5em;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

#navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 32px;
  font-family: "Times Now";
  padding: 1.5em 1em;
  box-sizing: border-box;
  background: linear-gradient(180deg, white 25%, rgba(255, 255, 255, 0) 100%);
  z-index: 9;
  color: #464646;
  font-size: 0.8rem;
}
#navi a {
  color: #464646;
}
#navi a[title] {
  position: absolute;
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: "Director";
  text-transform: uppercase;
  font-size: 0.65rem;
}
#navi .wrapper {
  flex-direction: row;
}
#navi span[weather] {
  display: block;
}
#navi .-left {
  min-width: 150px;
  width: 20%;
}
#navi .colors {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
#navi .colors a {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
}
#navi a.link {
  cursor: pointer;
  margin: 0 -4px;
}
#navi a.link span::before {
  content: "(";
  opacity: 0;
  color: #cccccc;
}
#navi a.link span::after {
  content: ")";
  opacity: 0;
  color: #cccccc;
}
#navi a:hover span::after,
#navi a:hover span::before {
  opacity: 1;
}
#navi a:hover span[hidden] {
  display: inline;
}
#navi a:hover span[location] {
  display: none;
}

#heading p,
.reg p {
  text-align: center;
}
#location {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  display: none;
}

#map {
  box-sizing: border-box;
  font-family: "Director";
  text-align: center;
}
#map .institute-index {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  padding: 2em 0;
}
#map .institute-index .w {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  margin: 0 auto;
  height: 80px;
}
#map .institute-index a {
  width: 160px;
  max-width: 50%;
  padding: 0.15em 1em;
  text-align: left;
  font-family: "Times Now";
  font-size: 1rem;
  cursor: pointer;
  color: #464646;
}
#map .institute-index a span.number::before {
  content: "( ";
  opacity: 0;
  color: #cccccc;
}
#map .institute-index a span.number::after {
  content: " )";
  opacity: 0;
  color: #cccccc;
}
#map .institute-index a:hover span.number::after,
#map .institute-index a:hover span.number::before {
  opacity: 1;
}
#map .institute-index span.number {
  font-family: "Director";
  font-size: 0.4rem;
  padding-right: 0.5em;
  color: rgba(70, 70, 70, 0.47);
  letter-spacing: -1.5px;
  transform: translateY(-2.5px);
  display: inline-block;
}
#map .institute-index span[title] {
  margin-left: 0;
}
#map .institute-map {
  padding: 1em 0;
  margin: 0 auto;
  width: 350px;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
@media only screen and (max-width: 600px) {
  #map .institute-map {
    max-width: 100vw;
    transform: scale(0.9);
    margin-left: 0;
  }
}
#map h1 {
  width: 100%;
}
#map .spacer {
  display: inline;
}
#map .break {
  flex-basis: 100%;
  width: 0;
}
#map .room {
  min-height: 40px;
  margin-left: -1px;
  margin-bottom: -1px;
  border: 1px solid #cccccc;
  background-position: top left;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#map .room:hover {
  border: 1px solid rgba(70, 70, 70, 0.45);
  background-image: url(../assets/dot.png);
  background-color: rgba(204, 204, 204, 0.21);
  cursor: pointer;
  color: #464646;
}
#map .room:hover span[title] {
  display: none;
}
#map .room:hover span[desc] {
  display: block;
}
#map .room .room-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#map .room span {
  margin: 0 auto;
}
#map .room span[title] {
  text-transform: uppercase;
  font-size: 0.65rem;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 0.5em;
  color: #464646;
  max-width: 95%;
  margin: 0 auto;
}
#map .room span[desc] {
  display: none;
  width: 100%;
  font-family: "Times Now";
  font-size: 0.65rem;
  padding: 0.5em;
  max-width: 80%;
}
#map .room[active] {
  background-color: rgba(204, 204, 204, 0.21);
  z-index: 1;
  background-image: url(../assets/dot.png);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background: #ffffff;
  display: none;
}
.popup .wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#map.popup-small {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 370px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  background: linear-gradient(-90deg, white 80%, rgba(255, 255, 255, 0) 100%);
  display: none;
}
#map.popup-small .wrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#map.popup-small .wrapper-map {
  margin-top: -2em;
}
#map.popup-small .institute-map {
  transform: scale(0.5);
  height: 120px;
  padding: 0;
}
@media only screen and (max-width: 600px) {
  #map.popup-small .institute-map {
    transform: scale(0.5) !important;
  }
}
#map.popup-small .institute-index {
  max-width: 250px;
  width: 95% !important;
}
#map.popup-small .institute-index .w {
  width: 100%;
  height: 120px;
}
#map.popup-small .institute-index .w a {
  padding: 0.25em 0.1em;
  margin: 0 !important;
  max-width: none;
  width: 125px;
  display: inline-block;
  vertical-align: top;
}

/*# sourceMappingURL=main.css.map */
