@import "foundation";
  
// GENERAL


main[area]{
  margin-top: 35px;
//  border: 1px solid #ccc;
//  height: calc(100vh - 80px);
  overflow-y: scroll;
  padding: 1em;
}


.room {

  .outside {
    position: relative;
    //    border: 1px solid #ccc;
    width: 100%;
    max-width: 1100px;
    height: 90%;
    margin: 0 auto;

    font-family: "Director";
    white-space: pre-wrap;
    color: $gray;
    padding: 1em;

  }
}

a[act]{
cursor: pointer;
}
// FOYER

#atelier{
  .outside{
    border: 1px solid #ccc;
    min-height: 150px;
    display: flex;
    flex-direction: row;
  }
  
  span{
    width: 100%;
    background: red;
  }
  
    span[name] {
      font-size: $font-body;
      font-family: "Times Now";
      text-align: center;
      color: $gray-darker;
    }

    span[desc] {
      font-size: $font-body;
      font-family: "Times Now";
      padding: .5em 0;
      text-align: center;
    }

    span[release] {
      font-size: $font-small;
      margin: .15em auto;
      padding: .25em;
      color: $gray-dark;
    }
  
  .notes[grid]{
    display: flex;
    flex-wrap: wrap;
    background: yellow;
    flex-grow: 1;
    overflow: hidden;
  }
  
  .notes-list{
    min-width: 200px;
    border-right: 1px solid #ccc;
    flex-grow: 1;
  }
  
  .notes-list{
    a{
      background: cyan;
      display: flex;
    }
    
  }
  
  
  .notes{
    
    .note{
      position: relative;
      border: 1px solid #ccc;
      width: 150px;
      display: inline-block;
      background: yellow;
      
      .w{
        width: 100%;
        padding: .5em;
        overflow: hidden;
      }
    }
    
    .note[sketch]{
      
      width: 300px;
      
      img{
        width: 100%;
        object-fit: contain;
      }
    }
    
    .note::before{
      content: " ◯ ◯ ◯ ◯ ";
      letter-spacing: 4px;
      text-align: center;
      position: absolute;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      top: 0;
      padding: .5em 0;
    }
    
    .note[folded]::after{
      content: " ";
      position: absolute;
      border: 1px solid #ccc;
      width: 100%;
      bottom: -8px;
      background:#fff;
      height: 80px;
      transform: rotate(3deg);
    }
    
  }
  
}

#shop {

  .gifts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .gifts .gift {

    width: 250px;
    height: 250px;
    background-image: url(../assets/gift.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;


    .w {
      width: 85%;
      margin: 0 auto;
      padding: 1em;
      padding-top: 80px;
      display: flex;
      flex-direction: column;
      filter: blur(3px);
      //      background: rgba(255, 0, 0, 0.6);
    }


    span[name] {
      font-size: $font-body;
      font-family: "Times Now";
      text-align: center;
      color: $gray-darker;
    }

    span[desc] {
      font-size: $font-body;
      font-family: "Times Now";
      padding: .5em 0;
      text-align: center;
    }

    span[release] {
      font-size: $font-small;
      margin: .15em auto;
      padding: .25em;
      color: $gray-dark;
    }
  }
  
  .gift:hover, .gift[opened] {
    cursor: pointer;
    .w{
      filter: blur(1px);
    }
  }
  
  .gift[opened]{
    background-image: url(../assets/gift-open.png);
  }
  .gift[opened]{ .w{ filter: blur(0); } 
  
  
    span[release]::before {
      content: "( ";
      opacity: 0;
      color: $gray;
    }

    span[release]::after {
      content: " )";
      opacity: 0;
      color: $gray;
    }
  }
  
  
    .gift[opened]:hover span[release]::after,
    .gift[opened]:hover span[release]::before {
      opacity: 1;
    }


  @media only screen and (max-width: 600px) {
    .gifts .gift {
      width: 200px;
      height: 200px;
      
    .w{
      padding-top: 50px;
    }
    }
    
  }

}


#observatory {
  min-height: 520px;
  height: 70vh;
  //  background:rgba(204, 204, 204, 0.19);
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;

  .outside{
  border: 1px solid #ccc;
    border-radius: 100px;
  }
  
  .observatory-details {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    margin: 3em;
    display: flex;
    flex-direction: column;

    z-index: 9;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .observatory-details {

    .--detail {
      display: block;
      text-transform: uppercase;
      font-size: $font-body;
      padding: .25em 0;

      color: $gray-darker;
      cursor: pointer;
    }

    span {
      border-bottom: 1px dotted $gray;

    }
  }

  #background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  #background video,
  #background iframe {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  #background iframe {
    width: 100%;

  }

}

#theater {

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  text-align: center;

  .outside {
    position: relative;
    min-height: 450px;
    margin-top: -50px;
    width: 100%;
    max-width: 600px;
  }
  
  
  a.link{
    position: absolute;
    padding: 0; margin: 0 auto;
    width: 100%;
    display: block;
    
    text-transform: uppercase;
    top: -50px;
    font-size: $font-body;
  }

  span[curtain] {
    position: absolute;
    height: 240px;
    width: 140px;
    top: 0;
    left: 0;
    //    left: 50%;
    //    transform: translateX(-50%);
    margin: 0;
    background-image: url(../assets/curtain.png);
    background-size: contain;
    z-index: 100;
  }

  span[curtain][right] {
    left: auto;
    right: 0;
    transform: scaleX(-100%);
  }

  .yt-wrapper {
    border: 1px solid #ccc;
    width: 100%;
    max-width: 550px;
    height: 300px;
    margin: 1em auto;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    object-fit: cover;
    z-index: 99;
//    overflow: hidden;

    background-image: url(../assets/clouds.png);
    background-position: center;
    background-size: cover;
  }

  .yt-wrapper {
    .yt-title {
      position: absolute;
      font-family: "Director";
      font-size: $font-body;
      text-transform: uppercase;
      z-index: 2;
      top: 50%;
      width: 100%;
      text-align: center;
      mix-blend-mode: exclusion;
    }
  }


  #player {
    padding: 0;
    margin: 0;
    object-fit: contain;
    width: 100%;
    height: 100%;
//    display: none;
  }

  // film strip

  .films {
    position: absolute;
    top: 340px;
    left: 0;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 80px;
    padding: 0 .25em;
    margin: 1em auto;
    //    border: 1px solid #ccc;

    .w {
      height: 80px;
      white-space: nowrap;
      text-align: center;
    }

    .w {

      .card {
        display: inline-block;
        width: 80px;
        padding: .2em 0;
        text-align: center;
      }

      span[card] {
        font-size: 2.25em;
      }

      span[name] {
        display: none;
      }

      span:not([active]) {
        opacity: 0.3;
      }


      span:hover {
        opacity: 0.8;
        cursor: pointer;
      }

    }
  }
}

#lights {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  //  background:#1a1a1a;
  z-index: 10;
  mix-blend-mode: exclusion;
  pointer-events: none;
}

#lights[lights='on'] {}

*[lights='off'] {
  color: #ffffff !important;
}

body[lights='off'] {
  background: #1a1a1a;
}

#navi[lights='off'] {
  background: linear-gradient(180deg, rgba(26, 26, 26, 1) 25%, rgba(26, 26, 26, 0) 100%);
}

#caption[lights='off'] {
  background: linear-gradient(0deg, rgba(26, 26, 26, 1) 25%, rgba(26, 26, 26, 0) 100%);
}

#foyer {

  height: calc(100vh - 100px);
  min-height: 550px;
  padding: 0;
  margin: 0;
  
  p{
    text-align: center;
  }
  
  .wrapper{
    margin-top: 1em;
  }

  .outside {
    position: relative;
    border: 1px solid #ccc;
    width: 100%;
    height: calc(100% - 140px);
    margin: 0 auto;

    font-family: "Director";
    white-space: pre-wrap;
    color: $gray;
    padding: 1em;
  }

  .window {
    border: 1px solid #ccc;
    position: absolute;
    width: 70px;
    height: 120px;

    background-image: url(../assets/clouds.png);
    background-position: center;
  }

  .window:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .door {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1px;
    border: 1px solid #ccc;
    border-bottom: 0;
    width: 130px;
    height: 200px;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    background: rgba(255, 255, 255, 1);
  }

  .door:hover {
    //    background: rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }


}

#garden {

  a {
    color: #000;
  }

  .outside {
    position: relative;
    padding: .5em 1em;
    height: 60vh;
    min-height: 300px;
    width: 100%;
    overflow-y: hidden;
    max-width: none;
    overflow-x: scroll;
  }

  .flowers {
    position: absolute;
    bottom: 0;
    padding: 0;
    display: flex;
    white-space: no-wrap;
    width: auto;
  }
  
  .outside.free{
    height: 200vh;
    overflow: none;
  }

  .flowers.free{
    position: relative;
    height: 100%;
  }
  
  .filter {
    position: fixed;
    left: 0;
    top: 200px;
    width: 100%;
    height: 24px;
    padding: 0;
    display: flex;
    justify-content: center;

    a {
      font-size: $font-body;
      color: $gray-darker;
      cursor: pointer;
    }


    a.link span::before {
      content: "(";
      opacity: 0;
      color: $gray;
    }

    a.link span::after {
      content: ")";
      opacity: 0;
      color: $gray;
    }

    a:hover span::after,
    a:hover span::before {
      opacity: 1;
    }

    a[active] span::after,
    a[active] span::before {
      opacity: 1;
    }
  }
  
  a[flower]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  span[stem] {
    margin: -2em auto;
//    margin-top: -2em;
//    bottom: 0;
//    left: 50%;
    width: 1px;
    height: 30px;
    background: $gray;
//    z-index: -4;
    display: inline-block;
  }

  }
  
  a[flower].free {
    position: absolute;
  }
  
  
  .flower {
    display: inline-block;
    width: 160px;
    height: 190px;
    background-image: url(../assets/flower-large.png);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    z-index: 1;

    .wrapper {
      margin-top: -1em;
      max-height: 150px;
      padding: 1em;

      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }

  }


  .flower:hover {
    background-image: url(../assets/flower-large-bg.png);
  }


  .flower span[name] {
    font-size: .95rem;
    font-family: "Times Now";
  }

  .flower span[year] {
    font-size: $font-small;
    margin: .15em auto;
    padding: .25em;
    color: $gray-dark;
  }


  .flower span[year]::before {
    content: "( ";
    opacity: 0;
    color: $gray;
  }

  .flower span[year]::after {
    content: " )";
    opacity: 0;
    color: $gray;
  }

  .flower:hover span[year]::after,
  a:hover span::before {
    opacity: 1;
  }

  .flower:hover span[year]::after,
  .flower:hover span[year]::before {
    opacity: 1;
  }

  @media only screen and (max-width: 600px) {

    .outside {
      justify-content: center;
      padding: 0;
    }

    .flower {
      width: 175px;
      height: 190px;

      .wrapper {
        margin-top: 0;
      }
    }

  }

}
